.block-item-enter-active
  transition: all .3s ease

.block-item-leave-active
  transition: all .3s cubic-bezier(1, 0.5, 0.8, 1)

.block-item-enter, .block-item-leave-to
  transform: scale(.5)
  opacity: 0

.room-item-enter-active, .room-item-leave-active
  transition: all .4s
  opacity: 1

.room-item-enter, .room-item-leave-to
  transform: scale(.9)
  opacity: 0

.room-item-move
  transition: transform .4s

.chat-item-enter-active
  transform-origin: left center
  transition: transform .3s, opacity .3s
  opacity: 1

.chat-item-enter, .chat-item-leave-to
  transform-origin: left center
  transform: translateX(-1rem) scale(.5)
  opacity: 0

.chat-item-move
  transition: transform .2s

.player-item-enter-active, .player-item-leave-active
  transition: all .2s
  opacity: 1

.player-item-enter, .player-item-leave-to
  transform: translateY(0rem) scale(.5)
  opacity: 0

@keyframes down-to-up
  from
    opacity: 0
    transform: translateY(5rem)
  to
    transform: 0

.show-up
  animation: down-to-up .4s ease
  animation-fill-mode: backwards

.status-text-enter-active
  transition: transform .3s, opacity .2s

.status-text-enter
  transform: translateY(1rem)
  opacity: 0
