.dialog
  display: flex
  width: auto
  flex-direction: column
  justify-content: center
  align-items: center
  +block-border
  padding: $dialog-padding
  letter-spacing: .1rem
  input
    margin-bottom: 2rem
    text-align: center
    transition: border .2s
    border: 0 solid #333

.btn-confirm, .btn-cancel
  font-size: 2rem
  font-weight: 100
  +mx(.5rem)
