#lobby
  >.row
    +my(1rem)

nav
  .block
    +flex-center
    +gradient-bg($gray-200, 10%)
    margin-bottom: 1rem
    min-height: 8rem
    color: white
    transition: all .3s
    h3
      font-size: 1.5rem
      font-weight: 700
      font-style: italic
      margin-bottom: 0
      letter-spacing: .1rem
    &.new
      background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%)
    &.join
      background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%)
      .input-area
        width: 100%
        margin-top: .5rem
        +flex-center
        flex-direction: row
        +px(2rem)
        transition: all .3s
        input
          display: inline-block
          margin-right: .5rem
          font-size: 1rem
        a.submit
          display: inline-block
          color: white
    &.profile
      text-align: center
      color: $black
      margin-bottom: 0
      h3
        font-style: normal
        font-size: 1rem
        margin-bottom: .5rem
      h4.record
        font-size: .8rem
        font-weight: normal
        margin-bottom: 0
        b
          font-family: $font-family-monospace
          color: $gray-800
          // &.win
          //   color: darken($win-color, 25%)
          // &.lose
          //   color: darken($lose-color, 40%)

    &:hover:not(.join)
        transform: scale(.98) skewX(-.5deg) skewY(-.5deg)
        opacity: .8

@include media-breakpoint-down(sm)
  nav
    .block
      min-height: 6rem
      &.join
        .input-area
          +px(1rem)
      &.profile
        // min-height: 3rem
