// Spacing
$spacer: 1rem

// Color
$black: #2e2e2e
$green: #8dd430
$blue: #0192af
$yellow: #fabe00

// Link
$link-color: $yellow
$link-hover-decoration: none

$background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)

$black-gradient: linear-gradient(25deg, black 0%, #434343 70%)
$white-gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)

$input-background-image: linear-gradient(165deg, #fdfbfb 50%, #ebedee 100%)
$dialog-padding: 1.5rem 2rem

// Font
$font-family-sans-serif: -apple-system, BlinkMacSystemFont,"Segoe UI", Microsoft JhengHei,"Roboto", "Helvetica Neue", Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
