@import "variables"
@import "~bootstrap/scss/bootstrap"

@import "functions"
@import "dialog"
@import "animation"

html, body
  background-image: $background

main
  +flex-center
  justify-content: flex-start
  flex-direction: column
  min-height: 100vh
  letter-spacing: .1rem

ul
  padding: 0
  list-style: none

input
  border: 0
  border-radius: 0
  width: 100%
  background-image: $input-background-image
  letter-spacing: .1rem
  +px(.5rem)

h2
  +gradient-text($black-gradient)
  font-weight: 100
  margin-bottom: 2rem
  display: inline-block
  letter-spacing: .1rem

.loader
  +flex-center
  height: 100%
  text-align: center
  color: $gray-500
  font-size: .8rem
  .icon
    margin-bottom: .5rem
  .progress
    width: 5rem
    height: 2px
    background-color: $gray-500
    margin-top: .25rem
    .bar
      width: 50%
      background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%)
      transition: width .5s
