@import "variables"
@import "~bootstrap/scss/bootstrap"

@import "functions"
@import "dialog"
@import "animation"

html, body
  background-image: $background

main
  +flex-center
  justify-content: flex-start
  flex-direction: column
  min-height: 100vh
  letter-spacing: .1rem

ul
  padding: 0
  list-style: none

input
  border: 0
  width: 100%
  background-image: $input-background-image
  letter-spacing: .1rem
  +px(.5rem)

h2
  +gradient-text($black-gradient)
  font-weight: 100
  margin-bottom: 2rem
  display: inline-block
  letter-spacing: .1rem

.loader
  +flex-center
  height: 100%
  text-align: center
  color: $gray-500
  .icon
    margin-bottom: .5rem
