@import "variables"
@import "~bootstrap/scss/bootstrap"

@import "functions"
@import "button"
@import "dialog"

input
  border: 0
  width: 100%
  background-image: $input-background-image
  letter-spacing: .1rem
  +px(.5rem)
